
.material-symbols-outlined {
  font-size: 30px !important;
  font-variation-settings:
  'FILL' white,
  'wght' 400,
  'GRAD' 0,
  'opsz' 30;
}

.hero{
  font-family: "Montserrat", sans-serif;
}

.burger-icon {
  display: none; /* Hide the burger icon by default on larger screens */
}

@media (max-width: 768px) {
  
  .burger-icon {
      display: block; /* Display the burger icon on smaller screens */
      cursor: pointer;
  }

  .dropdown-menu {
      display: none; /* Hide the dropdown menu by default on smaller screens */
      position: absolute;
      top: 100%;
      left: 0;
      background-color: #000;
      padding: 1rem;
      width: 100%;
  }

  .dropdown-menu .nav-item {
      margin-bottom: 1rem;
  }

  .dropdown-menu.hidden {
      display: none; /* Hide the dropdown menu when hidden */
  }
}
  

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
